html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    title Greetings
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/css/grid.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")     
    link(rel="stylesheet" type="text/css" href="/css/userlogin.css")
  body
    include ./header.html
    main
      p.
         Thank you for logining in our system. 
         You logged as <strong>#{email} </strong>.
    include ./footer.html
